<form>
    <!-- Header -->
    <div class="modal-header d-flex justify-content-between px-2">
      <h4 class="modal-title">Profile Header</h4>
      <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">
        <i class="bi bi-close"> </i> Cancel
      </button>
    </div>
    <!-- /Header -->
    <!-- Body -->
    <div class="modal-body ">
      <div class="w-100 p-3" >
        <img src="assets/bg/1.PNG" style="width: 100%;" alt="">
      </div>
      <div class="w-100 p-3" >
        <img src="assets/bg/3.PNG" style="width: 100%;" alt="">
      </div>
      <div class="w-100 p-3" >
        <img src="assets/bg/2.PNG" style="width: 100%;" alt="">
      </div>
    </div>
  
    <!-- /Body -->
    <!-- Footer -->
  
    <div class="modal-footer justify-content-between ">
      
      
    </div>
    <!-- /Footer -->
  </form>