<div class="row">
    <div class="col-md-12 d-flex flex-nowrap justify-content-between px-2">
        <div><p class="fst-normal">{{title}}</p></div>
    </div>
    <div class="col-md-12 d-flex flex-nowrap justify-content-between px-2">
        <div class="px-1 w-100">
            <select id="select-border" (ngModelChange)="onSelect($event.target.value)" [(ngModel)]="value" class="select-input">
                <option *ngFor="let item of datasource" [value]="item.value">{{item.text}}</option>
            </select>
        </div>
    </div>
</div>