<div class="row">
    <div class="col-md-12 d-flex flex-nowrap justify-content-between px-2">
        <div><p class="fst-normal">{{title}}</p></div>
        <div>
            <span class="px-1"><input type="number" [(ngModel)]="value" class="unit-input" /></span><span class="px-1">{{unit}}</span>
        </div>
    </div>
    <div class="col-md-12 d-flex flex-nowrap justify-content-between px-2">
        <div class="px-1 w-100">
            <input type="range" name="sd" [(ngModel)]="value" class="form-range" [value]="value" [min]="min" [max]="max">
        </div>
        <div class="px-1">
            <a class="text-primary"><i class="bi bi-arrow-repeat"></i></a>
        </div>
    </div>
</div>
