<div class="marvel-device macbook">
    <!-- <div class="top-bar"></div>
    <div class="camera"></div> -->
    <div class="screen">
        <!-- Content goes here -->
        <div class="w-full rounded shadow"><!--style="background-color: aquamarine;"-->
            <div id="pro" class="w-full" [style]="bgStyle">
                <div id="pro-bg" class="pro-bg mx-auto" [ngStyle]="bgImageStyle"></div>
                <div class="shadow-lg" [ngStyle]="imgProfile"></div>
        
            </div>
            <div id="profile-name" class="d-flex justify-content-center w-full">
                <div class="w-50 text-center py-2 px-5">
                    <h1 class="text-lg">Lorem ipsum dolor</h1>
                    <h3 class="text-secondry">Lorem ipsum dolor</h3>
                    <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum facilis nihil.</p>
                    <h1 class="text-3xl font-bold bg-red">
                        Hello world!
                      </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bottom-bar"></div> -->
</div>