<div class="d-flex justify-content-between px-1 py-1">
    <h4 class="text-primary">
        Shadow
    </h4>
    <button class="btn btn-sm btn-outline-primary mb-2"><i class="bi bi-eye"></i></button>
</div>
<div class="px-2">
    <div class="w-100">
        <div class="w-100 mb-2">
            <app-slider [min]="0" [default]="0" [max]="100" [unit]="'%'" (onChange)="onChangeAll($event)"
                [title]="'All Corners:'"></app-slider>
        </div>
        <div class="w-100 mb-2">
            <app-slider [min]="0" [default]="0" [max]="100" [unit]="'%'" (onChange)="onChangeTl($event)"
                [title]="'Top Left:'"></app-slider>
        </div>
        <div class="w-100 mb-2">
            <app-slider [min]="0" [default]="0" [max]="100" [unit]="'%'" (onChange)="onChangeTr($event)"
                [title]="'Top Right:'"></app-slider>
        </div>
        <div class="w-100">
            <app-slider [min]="0" [default]="0" [max]="100" [unit]="'%'" (onChange)="onChangeBl($event)"
                [title]="'Bottom Left:'"></app-slider>
        </div>
        <div class="w-100">
            <app-slider [min]="0" [default]="0" [max]="100" [unit]="'%'" (onChange)="onChangeBr($event)"
                [title]="'Bottom Right:'"></app-slider>
        </div>
        <div class="w-100 mb-1">
            <app-color-picker (onChange)="onChangeColor($event)"
             [title]="'Border Color'"></app-color-picker>
        </div>
    </div>
</div>