<div class="flex flex-wrap justify-center items-center">
    <div *ngFor="let item of socialMediaList" class="w-1/2 p-1 mb-5">
        <a href="#tabs-text-format-tab" [class]="item.color"
            class="flex flex-col items-center rounded-lg shadow-lg border-2 border-slate-100 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-slate-500 transition duration-150 ease-in-out hover:border-slate-accent-200 hover:bg-slate-500 focus:border-slate-400 focus:border-2 focus:bg-slate-500 focus:shadow-xl focus:outline-none focus:ring-0 active:border-slate-accent-200 motion-reduce:transition-none dark:border-slate-400 dark:text-slate-300 dark:hover:bg-blue-950 dark:focus:bg-blue-950"
            data-twe-toggle="pill" data-twe-target="#tabs-text-format-tab" role="tab"
            aria-controls="tabs-text-format-tab" aria-selected="false">
            <span class="[&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-slate-100" [innerHTML]="getSvg(item.svg)">
            </span>
            <span class="text-slate-100">{{item.name}}</span>
        </a>
    </div>

    <div class="p-4 shadow-lg w-full bg-gray-200 rounded-full">
        <a class="flex flex-nowrap justify-between items-center" data-twe-collapse-init data-twe-ripple-init
            data-twe-ripple-color="light" href="#collapseAppearanceOptions" role="button" aria-expanded="false"
            aria-controls="collapseAppearanceOptions">
            <h2 class="text-lg">Appearance Options</h2>
            <span
                class="transition-transform duration-300 ease-linear motion-reduce:transition-none rotate-180 eva eva-arrow-ios-downward-outline">
            </span>
        </a>
    </div>
    <div class="!visible hidden" id="collapseAppearanceOptions" data-twe-collapse-item>
        <div class="flex justify-center item-align mx-auto p-3">
            <div class="p-2 flex cursor-pointer rounded-lg hover:border hover:shadow-lg">
                <!-- Facebook -->
                <a><span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#1877f2]"
                        [innerHTML]="getSvg(socialMediaList[0].svg)"></span></a>
            </div>
            <div class="border-r-2 h-10 p-2"></div>
            <div class="p-2 flex cursor-pointer rounded-lg hover:border hover:shadow-lg">
                <!-- Facebook -->
                <button type="button" data-twe-ripple-init data-twe-ripple-color="light"
                    class="inline-block rounded bg-[#1877f2] px-4 py-2 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
                    <span class="[&>svg]:h-4 [&>svg]:w-4" [innerHTML]="getSvg(socialMediaList[0].svg)">
                    </span>
                </button>
            </div>
            <div class="border-r-2 h-10 p-2"></div>
            <div class="p-2 flex cursor-pointer rounded-lg hover:border hover:shadow-lg">
                <button type="button" data-twe-ripple-init data-twe-ripple-color="light"
                    class="mb-2 inline-block rounded-full bg-[#1877f2] p-3 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
                    <span class="[&>svg]:h-4 [&>svg]:w-4" [innerHTML]="getSvg(socialMediaList[0].svg)">
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>