<!--<div class="d-flex justify-content-center mx-auto">
    <div class="marvel-device iphone-x">
        <div class="notch">
            <div class="camera"></div>
            <div class="speaker"></div>
        </div>
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="bottom-bar"></div>
        <div class="volume"></div>
        <div class="overflow">
            <div class="shadow shadow--tr"></div>
            <div class="shadow shadow--tl"></div>
            <div class="shadow shadow--br"></div>
            <div class="shadow shadow--bl"></div>
        </div>
        <div class="inner-shadow"></div>
        <div class="screen " style="width: 100% !important;">
            
            <div class="w-full rounded shadow">
                <div id="pro" class="w-full" [style]="bgStyle">
                    <div id="pro-bg" class="pro-bg mx-auto" [ngStyle]="bgImageStyle"></div>
                    <div class="shadow-lg" [ngStyle]="imgProfile"></div>
            
                </div>
                <div id="profile-name" class="d-flex justify-content-center w-full">
                    <div class="w-50 text-center py-2 px-5">
                        <h1 class="text-lg">Lorem ipsum dolor</h1>
                        <h3 class="text-secondry">Lorem ipsum dolor</h3>
                        <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum facilis nihil.</p>
                        <h1 class="text-3xl font-bold bg-red">
                            Hello world!
                          </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
        <!--  -->
        <!-- Header -->
        <div [innerHTML]="initialHeader()" [class]="header.getClasses()" [style]="header.getStyles()">
            
        </div>
    </div>
</div> 