<div class="flex min-h-[100vh]">
  <app-navbar></app-navbar>
  <div class="py-6 relative border-r" [ngClass]="{'p-4 w-1/3': device === 'pc', 'w-2/3' : device === 'mobile' }">
    <router-outlet></router-outlet>
    <div class="z-50 absolute top-0 left-0 bottom-0 w-full  bg-[#fff]">
      <div clss="w-full">
        
      </div>
    </div>
  </div>
  <div class="flex justify-center mx-auto  bg-gray-100 p-5" [ngClass]="{'w-2/3': device === 'pc', 'w-1/3' : device === 'mobile' }">
    <app-live-view></app-live-view>
  </div>
  
</div>

