<nav class="navbar navbar-light bg-light px-3 shadow-sm">
  <div class="d-flex flex-nowrap w-100">
    <div class="w-50"></div>
    <div class="w-50">
      <div class="d-flex align-items-end">
        <button class="btn btn-outline-primary px-2">
          <i class="bi bi-laptop"></i>
        </button>
        <button class="btn btn-outline-primary mx-2 px-2">
          <i class="bi bi-phone"></i>
        </button>
        <button class="btn btn-outline-primary px-2">
          <i class="bi bi-tablet"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="row" style="height: 90vh;">
  <div class="col-md-3 shadow ">
    <app-bg-toolbar></app-bg-toolbar>
  </div>
  <div class="col-md-8 mx-auto mt-3">
    <app-live-view></app-live-view> 
    
  </div>
</div>