<div class="mx-2 px-[6rem]">
    <div class="pt-2 mb-[60px]">
        <h3 class="text-4xl font-bold my-2">Hello, abd</h3>
        <p class="text-lg text-slate-500">All of your links are listed below.</p>
    </div>
    <div id="btn" class="flex w-full gap-6">
        <div class="w-1/2">
            <app-giant-button data-twe-collapse-init data-twe-ripple-init data-twe-ripple-color="light"
                data-twe-target="#collapseWidgets" aria-expanded="false" aria-controls="collapseWidgets"
                type="secondary" [rounded]="'rounded-xl'" icon="eva eva-link-2-outline"> Add Link</app-giant-button>
        </div>
        <div class="w-1/2">
            <app-giant-button type="primary" [rounded]="'rounded-xl'" icon="eva eva-grid-outline">Add
                Widgets</app-giant-button>
        </div>
    </div>
    <div class="!visible hidden mt-3 shadow-lg rounded-2xl border" id="collapseWidgets" data-twe-collapse-item>
        <div class="border-b-2 flex justify-between p-4">
            <h2 class="text-2xl">Add new Link</h2>
            <a class="cursor-pointer text-slate-600 hover:text-slate-700 hover:text-shadow-lg" 
            data-twe-collapse-init data-twe-ripple-init data-twe-ripple-color="light"
                data-twe-target="#collapseWidgets" aria-expanded="false" aria-controls="collapseWidgets"
>
                <span class="material-icons-outlined">close</span>
            </a>
        </div>
        <div class="py-4 px-3 flex justify-center items-center ">
            <app-social-media-button-list></app-social-media-button-list>
        </div>
    </div>
    <!--  -->
    <app-home-card></app-home-card>

</div>

