<div class="flex flex-col justify-center">
    <div class="col-md-12 flex flex-nowrap justify-between px-2">
        <div><p class="text-sm font-medium text-gray-900 dark:text-white my-2">{{title}}</p></div>
    </div>
    <div class="col-md-12 flex flex-nowrap justify-between px-2">
        <div class="px-1 w-100">
            <input type="color" #colorRef (change)="changeColor(colorRef.value)" class="form-controle" [value]="value" >
        </div>
        <div class="px-1">
            <span class="px-1"><input type="text" #colorInputRef (keypress)="changeColor(colorInputRef.value)" [(ngModel)]="value" class="color-input" /></span>
        </div>
    </div>
</div>


