<div class="w-[8.5rem] bg-[#fff] border-r">
    <nav class="flex flex-col justify-between items-center sticky h-[100vh] top-0 bottom-0 py-8">
      <div class="px-3">
        <img  src="assets/images/logo.png" alt="" >
      </div>
      <ul class="flex flex-col items-center gap-[24px]">
        <li>
          <a class="text-gray-500" href="">
            <div class="flex flex-col  items-center">
              <span><i class="eva eva-home-outline eva-2x"></i></span>
              <span>Home</span>
            </div>
          </a>
        </li>
        <li>
          <a class="text-gray-500" href="">
            <div class="flex flex-col  items-center">
              <span class="eva eva-pantone-outline eva-2x"></span>
              <span>Appearance</span>
            </div>
          </a>
        </li>
      </ul>
      <div class="flex items-center">
        <button class="w-16 h-16 rounded-full bg-gray-500 shadow-2xl "></button>
      </div>
    </nav>
  </div>