<div class="w-full mx-auto mt-6 shadow-xl rounded-xl">
    <div class="grid grid-cols-3 lg:grid-cols-4 justify-items-center gap-2 px-3 py-3">
        <div class="w-28 h-28 lg:w-32 lg:h-32 shadow border-2 border-dashed rounded-lg  content-center text-center">
            <span class="text-4xl hover:text-5xl text-slate-400 material-icons-outlined">block</span>
            <p class="text-sm text-slate-400">No Background</p>
        </div>
        <div class="bg-gradient-to-tr from-[#66f542] to-[#4260f5] w-28 h-28 lg:w-32 lg:h-32 shadow border-2 rounded-lg">
        </div>
        <div class="col-span-2 grid grid-cols-2 gap-2">
            <div>
                <label for="direction"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direction
                </label>
                <select id="direction"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option>To Top</option>
                    <option>To Top Right</option>
                    <option>To Right</option>
                    <option>To Bottom Right</option>
                    <option>To Bottom</option>
                    <option>To Bottom Left</option>
                    <option>To Left</option>
                    <option>To Left Top</option>
                </select>
            </div>
            <div class="flex justify-center space-x-2">
                <input id="nativeColorPicker1" type="color" value="#6590D5" />
            </div>
        </div>
    </div>
</div>