<div class="w-full mx-auto mt-4 shadow-lg rounded-2xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-items-center gap-3 px-3 py-3">
        <a
        (click)="updateType('profile')"
        data-twe-toggle="modal"
        data-twe-target="#uploadModal"
        data-twe-ripple-init
        data-twe-ripple-color="light"
        [style]="profileStyle"
        class="rounded-full shadow cursor-pointer w-28 h-28 border-2 border-dashed content-center text-center">
            <p  class="text-sm text-slate-400">Personal</p>
            <span
                class="text-4xl hover:text-5xl hover:opacity-90 transition transition-all daily-800 text-slate-400 material-icons-outlined">add_photo_alternate</span>
        </a>
        <a 
        (click)="updateType('bg')"
        data-twe-toggle="modal"
        data-twe-target="#uploadModal"
        data-twe-ripple-init
        data-twe-ripple-color="light"
        [style]="backgroundStyle"
        class="rounded-lg shadow cursor-pointer w-full h-full border-2 border-dashed content-center text-center">
            <p class="text-sm text-slate-400">Header Image</p>
            <span 
                class="text-4xl hover:text-5xl hover:opacity-90 transition transition-all daily-800 text-slate-400 material-icons-outlined">add_photo_alternate</span>
        </a>
    </div>

    
</div>

<app-upload-image-modal [type]="type" (onUpload)="upload($event)"></app-upload-image-modal>

