<div class="mt-1">
  <div class="p-2" style="background-color: #0d6efd;text-align:center;">
    <h4 class="text-light">Background Image</h4>
  </div>
  <div class="w-100">
    <tabset #staticTabs>
      <!-- General -->
      <tab heading="General">
        <div class="p-2">
          <ng-container *ngIf="profile && profile.background">
            <app-bg-toolbar-general [background]="profile.background" (onChange)="onChangeBasics($event)"></app-bg-toolbar-general>
          </ng-container>
          
        </div>
      </tab>
      <!-- /General -->
      <!-- Border -->
      <tab heading="Border">
        <div class="p-2">
        <ng-container *ngIf="profile && profile.background && profile.background.border">
          <app-bg-toolbar-border [border]="profile.background.border" (onChange)="onChangeBorder($event)"></app-bg-toolbar-border>
        </ng-container>
      </div>
      </tab>
      <!-- /Border -->
      <!-- Shadow -->
      <tab heading="Shadow">
        <div class="p-2">
          <ng-container *ngIf="profile">
            <app-bg-toolbar-shadow [boxShadow]="profile.background.boxShadow" (onChange)="onChangeShadow($event)"></app-bg-toolbar-shadow>
          </ng-container>
        </div>
      </tab>
      <!-- /Shadow -->
    </tabset>
  </div>

</div>