<!-- 
  <div class="w-100">
    <tabset #staticTabs>
      
      <tab heading="General">
        <div class="p-2">
          <ng-container *ngIf="profile && profile.background">
            <app-bg-toolbar-general [background]="profile.background" (onChange)="onChangeBasics($event)"></app-bg-toolbar-general>
          </ng-container>
          
        </div>
      </tab>
      
      <tab heading="Border">
        <div class="p-2">
        <ng-container *ngIf="profile && profile.background && profile.background.border">
          <app-bg-toolbar-border [border]="profile.background.border" (onChange)="onChangeBorder($event)"></app-bg-toolbar-border>
        </ng-container>
      </div>
      </tab>
      
      <tab heading="Shadow">
        <div class="p-2">
          <ng-container *ngIf="profile">
            <app-bg-toolbar-shadow [boxShadow]="profile.background.boxShadow" (onChange)="onChangeShadow($event)"></app-bg-toolbar-shadow>
          </ng-container>
        </div>
      </tab>
      
    </tabset>
  </div>
 -->
